<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Educación Ambiental</title>
</head>
<body>
    <header>
        <h1>Página informativa de Educación Ambiental</h1>
    </header>

    <section> 
       <article>
            <header>
              <h2>¿A quien se le ocurrió?</h2>
            </header><p>Seguramente a un señor</p>
            <div style="text-align: center;">
<img src="imagen1.jpg" alt="Conciencia de este rollo" width="30" height="30">
            </div>
            <h1>{{data.titulo}}</h1>
            <h2>{{data.usuario}}</h2>
            <h2>{{data.edad}}</h2>
            
            <p>desde cuando se conmemora esto y por que...</p>
        </article>

        
        <article>
            <header>
        <h2>cuales son las necesidades y prioridades de la educación ambiental</h2>
            </header>
        <ul>
           cuales las estrategias educativas para que alumnos puedan 
                entender la importancia de la educación ambiental
            <li>estrategia 1</li>
            <li>estrategia 2</li>
        </ul>
        una propuesta de como colaborar en el cuidado de tu localidad o comunidad 
        <img src="imagen2.jpeg" alt="Mi dibujo X">
         </article>  
    </section>


    <footer>
        <p>&copy; 2024 Página Informativa</p>
    </footer>
</body>
</html>