<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulario</title>
</head>
<body>
    <form method="POST" action="{{url_for('procesar')}}">
        <input name="nombre" required type="text" placeholder="Nombre">
        <br><br>
        <input name="edad" required type="number" placeholder="Edad">
        <br><br>
        <input type="submit" value="Enviar">
    </form>
</body>
</html>